.wrapper {
  background: var(--SystemColors-BGSelected-opacity);
  padding: .25rem .75rem;

  color: var(--SystemColors-Action);
  text-align: center;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
