.wrapper {
  padding: .5rem .75rem;
  border-radius: 4px;
  background: var(--SystemColors-BGSelected-opacity);
  width: fit-content;
}

.date {
  color: var(--Text100);
  text-align: right;
  font-family: Lato;
  font-size: .75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}
